*.class
*.jar
*.war
*.ear
*.ipr
*.iws
.settings
.classpath
.project
.DS_Store

nohup.out
target/
logs/

keystore.jks
password.txt

pom.xml.versionsBackup

.idea/
*.iml
/dependency-reduced-pom.xml
/service/dependency-reduced-pom.xml
/amazon-lambda/dependency-reduced-pom.xml
